/* Inheritance - target the body tag */
body {
    font-family: Arial, sans-serif; /* Or any other font-family of your choice */
    font-size: 18px;
}

/* Select multiple elements - header and footer background color */
header, footer {
    background-color: #eee; /* Replace with your preferred color */
}

/* Class selector - site-title */
.site-title {
    color: blue; /* Replace with your preferred color */
}

/* Id selector - my-image */
#my-image {
    box-shadow: 0 0 2px 1px black;
}

/* Replace bullets from hobbies list with squares */
ul {
    list-style-type: square;
}

/* nth-child selector for odd list items in the hobby list */
ul li:nth-child(odd) {
    background-color: #f7f7f7; /* Light gray background */
}

/* Styling the Navigation */
nav ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
}

nav a {
    text-decoration: none; /* Remove underline */
    background-color: #eee; /* Background color */
    border: 1px solid #ccc; /* Border */
    padding: 5px 10px; /* Padding around links */
    display: inline-block; /* To apply padding and border */
}

nav a:hover, nav a:focus {
    background-color: #ddd; /* Darker background color on hover/focus */
}
